* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100dvh;
    grid-template-rows: 15% auto 100px;
    min-width: 500px;
    
    @import "./components/header";
    @import "./components/main";
    @import "./components/footer";
}